.general-page {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.general-page__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.general-page__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-button {
  display: inline-block;
  margin: 0px;
  height: 32px;
  width: 32px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #7289da;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #677bc4;
}
